//Variables de colores del proyecto
$color-primary: #FAA6BD;
$color-secondary: #FFDFDF;
$color-tertiary: #F3969A; 
$color-text-primary: #8C797E;
$color-text-secondary: white;
$color-btn: #F3969A;
$color-btn-hover: #E95D79;
$color-alert: #D0748C;