//Variables de colores del proyecto
$color-primary: #FAA6BD;        //Navbar - Footer
$color-secondary: #FFDFDF;      //Quiero Vender
$color-tertiary: #F3969A;       //Encuesta
$color-text-primary: #8C797E;
$color-text-secondary: white;
$color-btn: #F3969A;
$color-nav-hover: #E95D79;
$color-alert-survey: #D0748C;
$color-border-form: #CFCECE; 