.footer {
    background-color: $color-primary;
    font-family: 'Poppins', sans-serif;
    color: $color-text-secondary;
    /* margin-top: 4rem; */
    padding: 4rem;
    text-align: right;
    letter-spacing: .05rem;
    &__icon {
        width: 40px;
        height: 40px;
    }
    &__clock {
        padding-top: 2rem;
        text-align: right;
        font-family: 'Poppins', sans-serif;
        font-size: larger;
        background-color: $color-primary;
        color: $color-text-secondary;
    }

    @include respond(phone){
        font-size: small;
    }
}

.social {
    margin-top: 1rem;
    text-align: right;
    /* border: 1px solid red; */
    width: 100%;
}
.social__icon{
    width: 2.5rem;
}
.social__icon:hover {
    opacity: 0.4;
}
