.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.form__group {
    margin: 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
}
.form__label{
    color: $color-text-primary;
}
.form__input {
    width: 60vw;
    border-radius: 5px;
    padding: 5px 8px;
    border: solid 1px $color-border-form;
}
.form__textarea {
    width: 60vw;
    border: solid 1px $color-border-form;
    padding: 5px 8px;
    border-radius: 5px;
    resize: none;
}
.form__button {
    border: solid 1px $color-btn;
    background-color: $color-text-secondary;
    color: $color-btn;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
}
.form__button:hover {
    border: solid 1px $color-btn;
    color: $color-text-secondary;
    background-color: $color-btn;
}
