/*  Sección Encuesta  */
.section-survey {
    background-color: $color-tertiary;
    text-align: center;
    color: $color-text-secondary;
    padding: 4rem;
    &__img {
        padding-bottom: 3rem;
        margin-top: 10rem;
    }
    &__title {
        font-size: 2rem;
        letter-spacing: 0.2rem;
        font-weight: 700;
        margin-bottom: .5rem;
    }
    &__text {
        font-size: 1.1rem;
        margin: 0 20%;
        letter-spacing: .05rem;
    }
    &__option{
        font-size: 1.2rem;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &__group-options{
        margin: 0 10%;
        display: grid;
        grid-template-columns: repeat(10,1fr);
        padding: 1rem;
    }
    &__alert{
        background-color: $color-alert-survey;
        padding: 10px;
        border-radius: 10px;
    }
    &__alert-a{
        color: $color-text-secondary;
        text-decoration: none;
    }
}
